div.weather
  h2 #{@resp["weather"][0]["main"]}

  
div.temp
  div.current
    span #{@resp["main"]["temp"]} F
  div.range
    div.low
      span #{@resp["main"]["temp_min"]} F
    div.high
      span #{@resp["main"]["temp_max"]} F

div.city
  h2 #{@resp["name"]}

div.misc
  div.humidity
    span Hum: #{@resp["main"]["humidity"]}%
  div.wind
    span Wind: #{@resp["wind"]["speed"]} MPH

div.map
  img src="http://www.spc.noaa.gov/products/activity_loop.gif" alt="NOAA Map"