<!DOCTYPE html>
html lang="en"
head
  meta charset="UTF-8"/
  title The weather. That's it.
  link rel="stylesheet" href="stylesheets/main.css"
  meta name="description" content="The weather. That's it."
  meta name="viewport" content="width=device-width, initial-scale=1"

body
  div.wrapper
    == yield

    footer
      p This app is designed to be fast, free, and minimal. No user data is collected. <a href="https://gitlab.com/samlachance/weather">Click here to view the source.</a>