@import 'mixins';

body {
  font-family: sans;
  margin: 0;
  text-align: center;

  div.wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  div.weather {
    @include container;
    span {
      font-size: 2em;
    }
  }

  div.temp {
    @include container;
    div.current {
      span {
        font-size: 5em;
      }
    }

    div.range {
      div {
        display: inline-block;
        margin: 0 20px;

        &.low {
          color: blue;
        }

        &.high {
          color: red;
        }

        span {
          font-size: 2em;
        }
      }
    }
  }

  div.misc {
    div {
      display: inline-block;
      width: 40%;
      margin: 0 5%;
      span {
        font-size: 1.2em;
      }
    }
  }

  div.city {
    @include container;

    h2 {
      margin: 0;
    }
  }

  div.map {
    @include container;

    img {
      max-width: 100%;
    }
  }

  footer {
    @include container;

    font-size: 0.8em;
  }
}
